* {
  color: #696969; }

a {
  text-decoration: none; }

button {
  border: 1px solid #696969;
  border-radius: 2px;
  background-color: transparent;
  color: #696969;
  cursor: pointer;
  padding: 8px;
  margin: 2px;
  transition: all .4s; }
  button:hover {
    color: DarkGoldenRod;
    border-color: DarkGoldenRod; }

input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #696969;
  border-radius: 2px;
  outline: none;
  transition: all .4s; }
  input:focus {
    border-color: DarkGoldenRod; }
    input:focus::placeholder {
      color: DarkGoldenRod; }
  input::placeholder {
    color: #696969; }

ul {
  list-style: none;
  padding: 0; }

.App {
  background-color: #f5f5f5; }

.container {
  max-width: 400px;
  margin: 0 auto; }
  @media (min-width: 650px) {
    .container {
      max-width: 600px; } }

.search input {
  color: #696969;
  padding: 0.5rem;
  width: 100%; }

.flex-column {
  flex-direction: column; }

@media (min-width: 650px) {
  .flex-row-sm {
    flex-direction: row; } }

.actions button {
  width: 50%; }

.repos a,
.stared a {
  transition: all .4s; }
  .repos a:hover,
  .stared a:hover {
    color: DarkGoldenRod; }

.d-flex {
  display: flex; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.justify-content-between {
  justify-content: space-between; }
  @media (min-width: 650px) {
    .justify-content-between-sm {
      justify-content: space-between; } }

.fs-14 {
  font-size: 14px; }

.text-featured {
  color: DarkGoldenRod !important; }

.w-30 {
  width: 50%; }
  @media (min-width: 650px) {
    .w-30-sm {
      width: 50%; } }

.w-70 {
  width: 70%; }
  @media (min-width: 650px) {
    .w-70-sm {
      width: 70%; } }

.p-01 {
  padding: 0.5rem; }

.p-02 {
  padding: 1rem; }

.p-03 {
  padding: 1.5rem; }

.p-04 {
  padding: 2rem; }

.p-05 {
  padding: 2.5rem; }

.mb-02 {
  margin-bottom: 1.5rem; }
